<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card *ngFor="let article of data?.articles" (click)="mainPage(article)">
    <ion-img [src]="article.image"></ion-img>

    <ion-card-content>
      <ion-card-title>{{article.title}}</ion-card-title>
      <ion-card-subtitle>{{article.description}}</ion-card-subtitle>

    </ion-card-content>
  </ion-card>
</ion-content>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
